*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: red;
    text-align: center;
    padding: 20px;
}

.box-out{
    border: 1px solid #ddd;
}

h5{
    margin: 10px;
}

.table{
    display: block;
    min-width: 200px;
}
thead {
    display: block;
    width: 100%;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

tr{
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
tbody{
    display: block;
    height: 400px;
    overflow: scroll;
    width: 100%;
}